// Place all the styles related to the Motds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*全体*/
.hidden_box {
    // margin: 2em 0;/*前後の余白*/
    padding: 0;
    height: auto;
    // max-width:1100px;
    // overflow-x: scroll;
}

/*ボタン装飾*/
.hidden_box label {
    padding: 7px;
    font-weight: bold;
    // border: solid 1px black;
    cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #F5F5DC;
}

/*チェックは見えなくする*/
// .hidden_box input {
//     display: none;
// }
.hidden_box input[type=checkbox] {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    width:auto;
    opacity: 1;
}

.hidden_box::-webkit-scrollbar {
    width: 300px;
    background: red;
    color: red;
}
